@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-titilliumWeb);
  font-size: 1rem;
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.bg-dark {
  background: black !important;
  color: white !important;
}

body.bg-dark main,
body.bg-dark section,
body.bg-dark .bg-white,
body.bg-dark .bg-gray-50 {
  background-color: transparent !important;
  color: inherit !important;
}
.font-almiregodisplay {
  font-family: var(--font-AlmiregoDisplay);
}
/* styles/globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  width: max-content;
  animation: slide 30s linear infinite;
  animation-play-state: running;
}

.group-hover\:paused-slide:hover,
.group:hover .animate-slide {
  animation-play-state: paused;
}
